.developer{
  color:gray;
  font-family:monospace;
  margin-top:10px;
  border-top:2px solid gray;
  border-bottom:2px solid gray;
  text-align: center;
}
.url{
  text-decoration: none;
}
.url:hover{
  text-decoration: underline;
}